<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joachimneumann.bisq">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BisqMaterialTheme">
        <activity
            android:name=".ActivityWelcome"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityRegisterEmail"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityRegisterQR"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivitySettings"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityCongratulations"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityNotificationTable"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        </activity>
        <activity
            android:name=".ActivityNotificationDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name=".BisqFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".BisqFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_add_white_24dp" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary" />

        <!--Prevent auto initialization-->
        <meta-data android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <receiver android:name="BisqNotificationReceiver">
            <intent-filter>
                <action android:name="bisq_notification" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>