name: Master

on:
    push:
        branches: [ master ]

    # Allows for running this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    build:
        name: Build
        if: ${{ github.actor != 'dependabot[bot]' }}
        runs-on: ubuntu-latest
        timeout-minutes: 10
        outputs:
            new_tag: ${{ steps.bump_version.outputs.new_tag }}
        steps:
            -   name: Checkout the code
                uses: actions/checkout@1e204e9a9253d643386038d443f96446fa156a97

            -   name: Bump version
                id: bump_version
                uses: oflynned/Android-Semantic-Release@b9f6de7f8bdf25de3f695843265debf7c3919272
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            -   name: Create google-services.json from secrets
                env:
                    GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
                run: echo $GOOGLE_SERVICES_JSON > app/google-services.json

            -   name: Set up JDK 11
                uses: actions/setup-java@860f60056505705214d223b91ed7a30f173f6142
                with:
                    java-version: '11'
                    distribution: 'temurin'
                    cache: gradle

            -   name: Clear gradle cache
                run: |
                    mv ~/.gradle ~/.invalid || true

            -   name: Cache dependencies
                uses: actions/cache@afc669e7fce1370457d4c97e4ce71cd7b277760f
                with:
                    path: |
                        ~/.gradle/caches
                        ~/.gradle/wrapper
                    key: ${{ runner.os }}-gradle-${{ env.CACHE_VERSION }}-${{ hashFiles('**/**.gradle.kts', '**/gradle/wrapper/gradle-wrapper.properties', '**/libs.versions.toml') }}

            -   name: Check Gradle wrapper
                uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b

            -   name: Build the app
                run: ./gradlew assembleRelease bundleRelease

            -   name: Upload unsigned APK
                uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
                with:
                    name: release-unsigned.apk
                    path: app/build/outputs/apk/release/*.apk
                    if-no-files-found: error

            -   name: Upload unsigned AAB
                uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
                with:
                    name: release-unsigned.aab
                    path: app/build/outputs/bundle/release/*.aab
                    if-no-files-found: error

    sign:
        name: Sign
        runs-on: ubuntu-latest
        timeout-minutes: 10
        needs: build
        steps:
            -   name: Download unsigned APK
                uses: actions/download-artifact@076f0f7dd036d87e8e04f5f00d614e790308961b
                with:
                    name: release-unsigned.apk
                    path: app/build/outputs/apk/release

            -   name: Download unsigned AAB
                uses: actions/download-artifact@076f0f7dd036d87e8e04f5f00d614e790308961b
                with:
                    name: release-unsigned.aab
                    path: app/build/outputs/bundle/release

            -   name: Sign APK
                uses: r0adkll/sign-android-release@349ebdef58775b1e0d8099458af0816dc79b6407
                id: sign_apk
                with:
                    releaseDirectory: app/build/outputs/apk/release
                    signingKeyBase64: ${{ secrets.SIGNING_KEY }}
                    alias: ${{ secrets.KEY_ALIAS }}
                    keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
                    keyPassword: ${{ secrets.KEY_PASSWORD }}

            -   name: Sign AAB
                uses: r0adkll/sign-android-release@349ebdef58775b1e0d8099458af0816dc79b6407
                id: sign_aab
                with:
                    releaseDirectory: app/build/outputs/bundle/release
                    signingKeyBase64: ${{ secrets.SIGNING_KEY }}
                    alias: ${{ secrets.KEY_ALIAS }}
                    keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
                    keyPassword: ${{ secrets.KEY_PASSWORD }}

            -   name: Upload signed APK
                uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
                with:
                    name: release-signed.apk
                    path: ${{ steps.sign_apk.outputs.signedReleaseFile }}

            -   name: Upload signed AAB
                uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
                with:
                    name: release-signed.aab
                    path: ${{ steps.sign_aab.outputs.signedReleaseFile }}

    upload_to_firebase:
        name: Upload to Firebase
        runs-on: ubuntu-latest
        timeout-minutes: 10
        needs: [ build, sign ]
        steps:
            -   name: Checkout the code
                uses: actions/checkout@1e204e9a9253d643386038d443f96446fa156a97

            -   name: Download signed APK
                uses: actions/download-artifact@076f0f7dd036d87e8e04f5f00d614e790308961b
                with:
                    name: release-signed.apk
                    path: app/build/outputs/apk/release

            -   name: Download signed AAB
                uses: actions/download-artifact@076f0f7dd036d87e8e04f5f00d614e790308961b
                with:
                    name: release-signed.aab
                    path: app/build/outputs/bundle/release

            -   name: Upload signed APK to Firebase App Distribution
                uses: wzieba/Firebase-Distribution-Github-Action@9bc1d48a99c3447060a8facc22f078e1e40ed464
                with:
                    appId: ${{ secrets.FIREBASE_APP_ID }}
                    token: ${{ secrets.FIREBASE_TOKEN }}
                    file: app/build/outputs/apk/release/release-signed.apk

            -   name: Upload signed AAB to Firebase App Distribution
                uses: wzieba/Firebase-Distribution-Github-Action@9bc1d48a99c3447060a8facc22f078e1e40ed464
                with:
                    appId: ${{ secrets.FIREBASE_APP_ID }}
                    token: ${{ secrets.FIREBASE_TOKEN }}
                    file: app/build/outputs/bundle/release/release-signed.aab
